docs/*
mock/*
src/*
static/*
coverage/*
test/*

yarn-error.log
package-lock.json
index.html
rollup.config.js

.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.travis.yml
global.d.ts
jest.config.js
tsconfig.json
